.main {
  margin-top: 100px;
  padding: 100px 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  width: 100%;
  z-index: 40;
}

.body > h1 {
  margin-bottom: 16px;
}

.button {
  padding: 30px;
  border: 1px solid rgb(201, 201, 201);
  background-color: transparent;
  border-radius: 50px;
  font-size: 18px;
}

@media screen and (max-width: 1100px) {
  .main {
    padding: 50px 100px;
  }
}

@media screen and (max-width: 800px) {
  .main {
    padding: 25px;
  }

  .button {
    padding: 20px;
  }
}
